<!-- close barba -->
</div>
</div>
<!-- close .Layout-bottom -->
</main>
<!-- close .Layout -->
	</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.3.1/dist/leaflet.css">
<script src="https://cdn.jsdelivr.net/npm/leaflet@1.3.1/dist/leaflet.js"></script>

<!-- <script src="https://unpkg.com/barba.js@1/dist/barba.min.js"></script> -->
<script src="{{"barba.js@1.0.0_dist_barba.min.js" | relURL}}"></script>
<script src="{{"page-transitions.js" | relURL}}"></script>

<script src="{{"gyrup.js" | relURL}}"></script>

</body>
</html>
