<!DOCTYPE html>
<html lang="da">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}">
	<title>{{ .Title }} - {{ .Site.Title }}</title>
	{{ template "_internal/opengraph.html" . }}
	<meta property="og:image" content="https://gyrup.netlify.com/gyrup-gaardmalt-social.jpg">
	<!-- <link rel="stylesheet" href="https://unpkg.com/tachyons@4/css/tachyons.min.css"/> -->
	<link rel="stylesheet" href="{{"tachyons@4.9.1_css_tachyons.min.css" | relURL}}">
	<link href="https://fonts.googleapis.com/css?family=Copse|Oswald:400,700" rel="stylesheet">
	<link rel="stylesheet" href="{{"gyrup.css" | relURL}}">
</head>
<body class="overflow-y-scroll" data-url="{{ .RelPermalink }}">

	<nav class="FixedNav flex h3">
		<a href="/" class="Logo ph2 bg-white">
			<img src="{{"logo-square.svg" | relURL}}" alt="Gyrup Gårdmalt">
			<img src="{{"logo-square-white.svg" | relURL}}" alt="Gyrup Gårdmalt">
		</a>
		{{ partial "menu-simple.html" . }}
	</nav>

	<button class="UniversalNext" title="Gå til næste side">
		<img src="/arrow-right.png" width="24">
	</button>

	<div class="Layout">
		<div class="Layout-top" id="map">Loader kort…</div>

		<main class="Layout-bottom">

		<div id="barba-wrapper">
		<div class="barba-container">
