{{ $currentPage := . }}
{{ range $index, .Site.Menus.main }}
	<a class="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{.URL}}">
		<span class="f6 leading">{{ .Name }}</span>
</a>
{{ end }}
